:root {
    --color-sky: #CCEFFF;
}

body {
    counter-reset: score;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

h1{
    font-size: 1.5rem;
    margin: 0;

}

p{
    font-size: 1.1rem;
    margin: 0;
    font-weight: bold;
}

input{
    appearance: none;
    cursor: pointer;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 0;
}

input[type=checkbox]:focus{
    appearance: none;
    outline: none;
}

input:checked{
    counter-increment: score;
}

.score{
    text-align: center;
    box-sizing: border-box;
    padding-top: 36px;

}
p::after{
    content: counter(score);
    padding: 0 6px;
    font-weight: 100;
}



.phone {
    position: relative;
    border: 8px solid black;
    border-radius: 40px;
    height: 600px;
    width: 300px;
    background: var(--color-sky);
    box-shadow: 4px 4px 40px;
    overflow: hidden;
}

.layer-1 {
    position: absolute;
    z-index: 1;
    height: 450px;
    width: 80px;
    bottom: 0;
    right: 60px;

    animation-name: panda1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes panda1{
    0%{
        bottom: 0;
    }

    25%{
        bottom: -80px;
    }

    100%{
        bottom: 0;
    }
}



.layer-2 {
    position: absolute;
    z-index: 2;
    height: 450px;
    width: 80px;
    bottom: 0;
    left: 60px;

    animation-name: panda2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes panda2{
    0%{
        bottom: 0;
    }

    25%{
        bottom: -80px;
    }

    50%{
        bottom: -20px;
    }

    70%{
        bottom: -80px;
    }

    100%{
        bottom: 0;
    }
}

.layer-3 {
    position: absolute;
    z-index: 3;
    height: 400px;
    width: 220px;
    background: rgb(11, 112, 87);
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-top-left-radius: 16px;
    border-top-right-radius:16px;
}

.layer-4 {
    position: absolute;
    z-index: 4;
    height: 350px;
    width: 80px;
    bottom: 0;
    left: 50px;

    animation-name: panda3;
    animation-duration: 2s;
    animation-timing-function:ease-out;
    animation-iteration-count: infinite;
}

@keyframes panda3{
    0%{
        bottom: 0;
    }

    25%{
        bottom: -80px;
    }

    100%{
        bottom: 0;
    }
}

.layer-5 {
    position: absolute;
    z-index: 5;
    height: 300px;
    width: 180px;
    background: rgb(81, 163, 143);
    left: 0;
    bottom: 0;
    border-top-left-radius: 16px;
    border-top-right-radius:16px;
}

.layer-6 {
    position: absolute;
    z-index: 6;
    height: 250px;
    width: 80px;
    
    bottom: 0;
    right: 50px;

    animation-name: panda4;
    animation-duration: 2s;
    animation-timing-function:ease-out;
    animation-iteration-count: infinite;
}

@keyframes panda4{
    0%{
        bottom: 0;
    }

    25%{
        bottom: -80px;
    }

    50%{
        bottom: -20px;
    }

    70%{
        bottom: -80px;
    }

    100%{
        bottom: 0;
        transition-delay: bottom 5s ;
    }
}

.layer-7 {
    position: absolute;
    z-index: 7;
    height: 200px;
    width: 180px;
    background: rgb(0, 255, 191);
    right: 0;
    bottom: 0;
    border-top-left-radius: 16px;
    border-top-right-radius:16px;
}

.layer-8 {
    position: absolute;
    z-index: 8;
    height: 110px;
    width: 180px;
    background: green;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.layer-9 {
    position: absolute;
    z-index: 9;
    height: 100px;
    width: 120px;
    background: white;
    left: 0;
    bottom: 0;
}

.layer-10 {
    position: absolute;
    z-index: 10;
    height: 100px;
    width: 120px;
    background: white;
    right: 0;
    bottom: 0;
}


/* Diseño del panda */

.left-ear-outer {
    background: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
}

.rigth-ear-outer {
    background: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
}

.head {
    background: white;
    height: 70px;
    width: 100%;
    border-radius: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 8px;
}

.head_eye {
    background: black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 20px;

    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

@keyframes blink{
    0% {
        height: 5px;
        
    }

    5%{
        transform: translate(0px, 2.5px);
        height: 2px;
    }

    10%{
        transform: translate(0px, 0px);
        height: 5px; 
    }
}

.head_eye-left {
    left: 27px;
}

.head_eye-right {
    right: 27px;
}

.head_nose{
    background: black;
    border-radius: 50%;
    width: 12px;
    height: 6px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}